body {
    height: 100%;
    width: 100%;
    background-color: #336699;
    color: white;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#background img {
    width: 100%;
    height: 100%;
}

#container {
    width: 98%;
    position: relative;
    margin: 0px auto;
}

#title {
    line-height: 40px;
    height: 40px;
    width: 100%;
    position: relative;
}

#title h2 {
    width: 100%;
    text-align: center;
    color: #BEE9FF
}

#menu {
    width: 20%;
    margin-top: 100px;
    text-align: center;
    ;
    font-size: 14px;
    float: left;
}

#menu ul {
    width: 150px;
    margin-right: 40px;
    float: right;
}

li {
    list-style: none;
    background-color: rgba(17, 49, 85, 1);
    margin: 10px 0px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px rgba(190, 233, 255, 1);
    cursor: pointer;
}

#content {
    width: 80%;
    margin-top: 20px;
    float: left;
    font-size: 14px;
}

.content_div {
    width: 90%;
    margin-left: 40px;
    border: solid 1px rgba(121, 121, 121, 1);
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: none;
}

.active {
    background-color: #0033FF;
}

.background_o {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: rgba(17, 49, 85, 1);
}

.panel_div {
    width: 96%;
    margin: 2%;
    position: relative;
}

#my_black_page li {
    line-height: 20px;
}

input[type="text"],
input[type="radio"],
input[type="checkbox"],
ul {
    margin: 0px;
}

#select_term {
    margin-bottom: 20px;
}

#select_term li {
    width: 120px;
    float: right;
    margin: 0px 10px;
    text-align: center;
}

.page {
    width: 450px;
    margin: 0px auto;
    height: 40px;
}

.number_list li {
    width: 120px;
    float: left;
    margin-right: 10px;
}

.location_div {
    border: solid 1px rgba(190, 233, 255, 1);
    width: 100px;
    padding: 5px 10px;
    float: left;
    margin-right: 10px;
}

.location_div img {
    float: right
}

.modal {
    background-color: rgba(17, 49, 85, 1);
}

.create_ac {
    width: 180px;
    text-align: center;
    margin: 5px auto;
}

label {
    width: 100px;
    float: left;
    line-height: 30px;
    text-align: right;
}

#create_Suspected {
    width: 180px;
    text-align: center;
    margin: 5px auto;
}

#map_model {
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #003D79;
}

.Track_ul {
    float: right;
    margin: 0px;
    text-align: right;
}

.Track_ul li {
    width: 80px;
    float: left;
    text-align: center;
    line-height: 20px;
    margin-right: 0px;
}

#Track_map {
    width: 100%;
    height: 500px;
    display: hide;
}

.tb-input {
    width: 400px;
    line-height: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.tb-input tbody {
    margin: 0 auto;
}

.tb-input tr {
    height: 40px;
}

.tb-input tr td {
    width: 250px;
    height: 40px;
}

.tb-input tr td:first-child {
    width: 150px;
}

.tb-input label {
    width: 150px;
}

.tb-input input {
    width: 180px;
}

.tb-bl {
    border: 1px solid white;
}

.tb-bl th {
    text-align: center;
    border: 1px solid white;
    max-height: 30px;
    height: 30px;
    line-height: 30px;
}

.tb-bl tr {}

.tb-bl tr td {
    min-height: 30px;
    max-height: 150px;
    max-width: 124px;
    WORD-WRAP: break-word;
    text-align: center;
    border: 1px solid white;
}

.tb-bl tr td:nth-child(6) {
    text-align: left;
}

#modal-accompany {
    border: 0;
    width: 60%;
    left: 35%;
    top: 5%;
    height: 90%;
}

#modal-accompany input[type="text"],
input[type="datetime-local"] {
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

#modal-accompany input[type="radio"] {
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    padding: 0;
    margin: 0;
    width: 20px;
}

#modal-accompany-modify {
    border: 0;
    width: 60%;
    left: 35%;
    top: 5%;
    height: 90%;
}

#modal-accompany-modify input[type="text"],
input[type="datetime-local"] {
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

#modal-accompany-modify input[type="radio"] {
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    padding: 0;
    margin: 0;
    width: 20px;
}

.modal-header {
    border: 0;
}

.map-radius-form {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.map-radius-form span {
    margin-left: 10px;
}

.map-choice {
    border: none;
    margin: 0px auto;
    margin-bottom: 20px;
    padding: 0;
    /*width: 80%;*/
    height: 60%;
}

.map-choice iframe {
    height: 100%;
    width: 100%;
}

#points {
    line-height: 30px;
    float: left;
    margin-left: 10px;
}

#points span {
    float: left;
    overflow: visible;
    text-align: center;
}

#point span img {
    float: left;
    overflow: visible;
    text-align: center;
}

.p_dis {
    display: none;
}

.p_en {
    display: block;
}

.analyzer {
    width: 100%;
    border-bottom: solid 1px rgba(190, 233, 255, 1);
    padding-bottom: 10px;
    /*display:none;*/
}

.analyzer .menu {
    width: 100%;
    height: 55px;
}

.analyzer .content {
    display: none;
}

.analyzer .content .detail {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    border-radius: 5px;
}

.analyzer .content .detail table {
    width: 80%;
    margin: 0 auto;
}

.analyzer .content .detail table tbody td {
    border: 1px solid white;
    text-align: center;
    line-height: 30px;
}

.analyzer .content .detail table tbody td:nth-child(1) {
    width: 150px;
}

.analyzer .content .detail table tbody td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
}

.analyzer .content .action {
    width: 80%;
    height: 32px;
    line-height: 32px;
    margin: 20px auto;
    padding: 0;
}

.analyzer .result {
    width: 90%;
    margin: 0 auto;
    display: none;
}

.analyzer .result table {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.analyzer .result table th {
    height: 32px;
    line-height: 32px;
    border: 1px solid white;
    font-weight: 200;
}

.analyzer .result table tbody td {
    height: 32px;
    line-height: 32px;
    border: 1px solid white;
}

.ul_float_right {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.ul_float_right li {
    margin: 0;
    padding: 0;
    width: 120px;
    float: right;
    line-height: 32px;
    height: 32px;
    margin-right: 10px;
}

.start_ac {
    background-color: green;
}

.table-striped th {
    text-align: center;
}

.table-striped td {
    text-align: center;
}

#modal-suspect {
    border: 0;
    width: 30%;
    /*left: 35%;*/
    /*top: 5%;*/
    /*height: 90%;*/
}

#modal-suspect input {
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

#modal-suspect-modify {
    border: 0;
    width: 30%;
    /*left: 35%;*/
    /*top: 5%;*/
    /*height: 90%;*/
}

#modal-suspect-modify input {
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.speical {
    width: 100%;
    padding-bottom: 10px;
}

.speical .ps {
    width: 90%;
    margin: 0 auto;
    border-bottom: solid 1px rgba(190, 233, 255, 1);
}

.speical .content {
    width: 90%;
    margin: 20px auto;
    padding: 0;
}

.speical .content .detail {
    margin: 0 auto;
    padding-bottom: 30px;
}


/*.special .content .detail table {*/

.speical .content .detail table {
    margin: 0 auto;
}

.speical .content .detail table tbody td {
    text-align: center;
    line-height: 30px;
}

.speical .content .detail table tbody td input {
    width: 200px;
    margin: 10px 25px;
}

.speical .content .action {
    padding-bottom: 10px;
    border-bottom: solid 1px rgba(190, 233, 255, 1);
}

.speical .content .action li {
    width: 120px;
    margin: 0 auto;
}

.special .conetent .result {
    width: 90%;
    height: 500px;
}

#spec_result {
    margin-top: 20px;
    display: none;
}

#spec_map {
    width: 100%;
    height: 500px;
}


/*style="border-bottom:solid 1px rgba(190, 233, 255, 1);height:130px;position:relative;"*/
